<section class="hero is-fullheight has-text-centered" id="sprechzeiten">
    <div class="hero-body">
        <div class="container">


            <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                Augensprechstunde in Greifswald (TAP Quandt & Bracke)
            </h3>

            verkürzt wegen Elternzeit
            <table style="display: flex; justify-content: center;"
                class="is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold">
                <tbody>
                    {% unless site.open-mon == %}
                    <tr>
                        <td style="padding:10px">Montag</td>
                        <td style="padding:10px">{{site.open-mon}}</td>
                    </tr>
                    {% endunless %}

                    {% unless site.open-tue == %}
                    <tr>
                        <td style="padding:10px">Dienstag</td>
                        <td style="padding:10px">{{site.open-tue}}</td>
                    </tr>
                    {% endunless %}

                    {% unless site.open-wed == %}
                    <tr>
                        <td style="padding:10px">Mittwoch</td>
                        <td style="padding:10px">{{site.open-wed}}</td>
                    </tr>
                    {% endunless %}

                    {% unless site.open-thr == %}
                    <tr>
                        <td style="padding:10px">Donnerstag</td>
                        <td style="padding:10px">{{site.open-thr}}</td>
                    </tr>
                    {% endunless %}

                    {% unless site.open-fri == %}
                    <tr>
                        <td style="padding:10px">Freitag</td>
                        <td style="padding:10px">{{site.open-fri}}</td>
                    </tr>
                    {% endunless %}


                    {% unless site.open-sat == %}
                    <tr>
                        <td style="padding:10px">Samstag</td>
                        <td style="padding:10px">{{site.open-sat}}</td>
                    </tr>
                    {% endunless %}


                    {% unless site.open-sun == %}
                    <tr>
                        <td style="padding:10px">Sonntag</td>
                        <td style="padding:10px">{{site.open-sun}}</td>
                    </tr>
                    {% endunless %}
                </tbody>
            </table>

            sowie nach Vereinbarung
            <hr>

            <h3 class="is-size-5 has-text-weight-semibold has-text-black is-marginless">
                Augensprechstunde in Neubrandenburg (TAP Dipl.-Vet.-Med. Andrea Lehmann)
            </h3>

            
            <table style="display: flex; justify-content: center;"
                class="is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold">
                <tbody>
                    <tr>
                        <td style="padding:10px">Mittwoch</td>
                        <td style="padding:10px">10:00 - 12:00</td>
                    </tr>
                </tbody>
            </table>
            


            <hr>
            
            Notfälle werden, nach Absprache, auch außerhalb der Sprechzeiten versorgt.

            <br><br>
            <strong>Zuchtuntersuchungen</strong> können ab drei Tieren auch außerhalb der Praxis erfolgen.
            Anfragen über <a href="mailto:tierauge@gmail.com?subject=Zuchtuntersuchung"">Tierauge@gmail.com</a>

            
        </div>
    </div>
</section>